body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-width{
    overflow: scroll;
    width: 500px;
    height: 100vh;
    background-color: rgb(229, 232, 238);
   
}
.inside-box{
    width: 320px;
    max-height:135px;
    border: 1px solid rgb(241, 235, 235);
    box-shadow:1px 1px 2px 2px rgb(188, 185, 185)
}

.inside-box:hover{
    cursor: pointer;
    box-shadow: 0.7px 1px 2px 2px rgba(0,0,0,0.4);
}
.delete-btn{
    border: none;
    cursor: pointer;
   font-size: 25px;
   background: none;
   /* height: 40px; */
}
.empty-image{
    width: 200px;
}
.custom-write{
    width:100%;
    height: 100vh;
}
.input{
    height: 50px;
    width: 250px;
}
.custom-text-area{
    height: 50vh;
    width: 70%;
}
.toggle-btn{
    cursor: pointer;
    font-size: 32px;
}
.sun{
    right: 56px;
    font-weight: bold;
    top: 12px;
    font-size: 20px;
    color: white;
}
.moon{
    right: 25px;
    top: 12px;
    font-size: 20px;
    color: rgb(41, 41, 208);

}
.custom-bg-dark{
    background-color: rgb(46, 46, 93);
    color: white;
}
.custom-navbar-shadow{
    box-shadow: 0px 4px 2px rgb(188, 185, 185)
}
.custom-dark{
    background-color: #2b2b34;
    color: white;
}

.icon-dark-color{
    color: white;
}
.custom-dark-input{
    background-color: rgb(149, 149, 167);
}
*{
    transition: all 0.5s linear;
}
.custom-flex{
    display: flex;
}
.custom-write-flex {
    display: flex;
}
.shutter-btn{
    cursor: pointer;
    margin-top: 5px;
    background-color: white;
    color: gray;
    border: 1px solid rgb(214, 212, 212);
    border-radius: 4px;
    padding: 2px;
    font-size: 35px;
    position: absolute;
    box-shadow: 2px 2px 2px 2px rgb(159, 157, 157);
    top: 0;
    left: 0px;
    visibility: hidden;
    z-index: 1000;
}

@media only screen and (max-width: 800px) {
    .custom-slider-on{
        transform: translateX(-100%);
    }
    .custom-slider-off{
        transform: translateX(0%);
    }
 
    .custom-width{
        position: absolute;
        z-index: 1000;
        overflow: scroll;
        width: 90vw;
        height: 100vh;
    }
    .custom-flex{
        display:flex;
        position: relative;
    }
    .custom-write-flex {
        display: block;
    }
    .shutter-btn{
        visibility: visible;
    }
    

  
}